services:
  # Note: MariaDB is external service. You can find more information about the configuration here:
  # https://hub.docker.com/_/mariadb
  db:
    # Note: Check the recommend version here: https://docs.nextcloud.com/server/latest/admin_manual/installation/system_requirements.html#server
    image: mariadb:lts
    container_name: nextcloud-compose-db
    restart: always
    stop_grace_period: 60s
    command: --transaction-isolation=READ-COMMITTED
    volumes:
      - {{ nextcloud_db_path }}:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD={{ nextcloud_mysql_root_password }}
      - MYSQL_PASSWORD={{ nextcloud_mysql_db_password }}
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER={{ nextcloud_mysql_username }}

  # Note: Redis is an external service. You can find more information about the configuration here:
  # https://hub.docker.com/_/redis
  redis:
    image: redis:alpine
    restart: always

  app:
    image: nextcloud
    stop_grace_period: 60s
    container_name: nextcloud-compose
    restart: always
    ports:
      - 8000:80
    depends_on:
      - redis
      - db
    volumes:
      - {{ nextcloud_web_path }}:/var/www/html
    environment:
      - MYSQL_PASSWORD={{ nextcloud_mysql_db_password }}
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER={{ nextcloud_mysql_username }}
      - MYSQL_HOST=db
      - NEXTCLOUD_TRUSTED_DOMAINS={{ nextcloud_trusted_domains }}
      - NEXTCLOUD_ADMIN_USER={{ nextcloud_admin_username }}
      - NEXTCLOUD_ADMIN_PASSWORD={{ nextcloud_admin_password }}
      - SMTP_HOST={{ nextcloud_smtp_host }}
      - SMTP_SECURE={{ nextcloud_smtp_security_type }}
      - SMTP_PORT={{ nextcloud_smtp_port }}
      - SMTP_NAME={{ nextcloud_smtp_username }}
      - SMTP_PASSWORD={{ nextcloud_smtp_password }}
      - MAIL_FROM_ADDRESS={{ nextcloud_mail_address }}
      