---
version: '2'
services:
  onlyoffice:
    image: onlyoffice/documentserver
    container_name: onlyoffice-server
    restart: always
    environment:
      - JWT_SECRET={{ nextcloud_onlyoffice_jwt_secret }}
      - JWT_HEADER=AuthorizationJwt
    volumes:
      - {{ nextcloud_onlyoffice_log_folder }}:/var/log/onlyoffice
      - {{ nextcloud_onlyoffice_data_folder }}:/var/www/onlyoffice/Data
    ports:
      - 8080:80
